<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Robo Rally</title>
</head>

<body>
    <H1>Hello bitches!</H1>
    <h3>Please select difficulty and number of players:</h3>
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
            Difficulty
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#"> Easy </a>
            <a class="dropdown-item" href="#"> Medium </a>
            <a class="dropdown-item" href="#"> Hard </a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
            Number of players
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#"> 1 </a>
            <a class="dropdown-item" href="#"> 2 </a>
            <a class="dropdown-item" href="#"> 3 </a>
            <a class="dropdown-item" href="#"> 4 </a>
            <a class="dropdown-item" href="#"> 5 </a>
            <a class="dropdown-item" href="#"> 6 </a>
            <a class="dropdown-item" href="#"> 7 </a>
            <a class="dropdown-item" href="#"> 8 </a>
        </div>
    </div>

</body>

</html>



